<!-- <div style="text-align:center">
  <h1>Dynamic Background Color Change</h1>
  <input type="text" [(ngModel)]="color" placeholder="Enter a color or hex code" />
  <div [style.background]="getBackgroundColor()" class="color-box">
    This box changes color based on your input.
  </div>
</div> -->
<div style="text-align: center;">
  <h1>dynamically change the background color</h1>
  <input type="text"[(ngModel)]="color" placeholder="Enter Color  name or Hex code">
  <div [style.background]="getBackgroundColor()" class="color-box">
    change the background Color
  </div>
</div>